.active__title {
    display: block;
    font-size: 21px;
    transition: all 0.5s ease;
}
.active__content {
    display: block;
}
.inactive {
    display: none;
}
.faq__main__comtainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.faq__container {
    width: 100%;
    margin: auto;
}
.faq__header__title {
    align-self: flex-start;
    margin-left: 0;
    color: #00BCB7;
}
.container {
    width: 100%;
    margin: auto;
    text-align: left;
}
.faq__item {
    padding: 20px;
    width: 100%;
    transition: all 0.5s ease;
}
.faq__item__active {
    border: 2px solid #006363;
    border-radius: 15px;
    transition: all 0.5s ease;
}
.faq__heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 15px;
    border: 1px solid #D8D8D8;
    border-radius: 15px;
    width: 100%;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
    font-size: 20px;
}
.faq__heading__active {
    background-color: #006363;
    color: #D8D8D8;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 15px;
    border-radius: 15px;
    width: 100%;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
}
.faq__title {
    font-size: 20px;
}
.faq__body {
    width: 100%;
}
.faq__body p {
    width: 40ch;
    margin: 20px 15px;
}