html,
body,
* {
  padding: 0;
  margin: 0;
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 0px;
}
button {
  border: none;
  cursor: pointer;
  border-radius: 8px;
  padding: 23px 15px;
  margin-right: 30px;
  font-size: 20px;
  font-weight: bold;
  transform: scale(1, 1);
  transition: transform 0.5s ease;
}
button:hover {
  transform: scale(1.2, 1.2);
}

/*Display Flex With Flex Wrap*/
.row__wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 20px 0;
}

.page__wrapper {
  padding: 0 100px;
}

.full__container {
  width: 100%;
  margin-top: 40px;
  background-color: #3A3A3A;
  color: #d8d8d8;
  padding: 100px 100px;
  display: flex;
  flex-direction: column;
}
/*Forms Of Energy Start*/
.page__header {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.page__header h1 {
  position: absolute;
  top: 60%;
  color: #d8d8d8;
  font-size: 40px;
  background-color: #009991;
  width: fit-content;
  padding: 5px 15px;
  text-align: center;
  border-radius: 15px;
}
/*Creates display flex column
And centers content
*/
/*Creates a Row With Display Flex*/
.row {
  display: flex;
  box-sizing: border-box;
  margin: 60px 0;
}
.col {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.col__md {
  flex: 1;
  margin: 0 20px;
  line-height: 25px;
}
.col__md h2 {
  font-size: 40px;
  margin: 0 0 30px 0;
  color: #00bcb7;
}
/*Creates a Row With Display Flex End*/

.image__style {
  border-radius: 20px;
}
/*HOMEPAGE MEDIA QUERIES*/

/*IPAD PRO RESPONSIVENESS*/
@media only screen and (max-width: 1110px) {
  .hide__mobile {
    display: none;
  }
  .row {
    display: flex;
    flex-direction: column;
    width: 100%;
    box-sizing: border-box;
  }
  .col__md {
    flex: 1;
    margin: 20px 20px;
  }
  .col__md p {
    font-size: 23px;
    line-height: 30px;
  }
  .row__wrap {
    display: flex;
    flex-direction: column;
  }
  .page__wrapper {
    padding: 0 30px;
  }
}

/*Samsung Galaxy and others*/
@media only screen and (max-width: 466px) {
  .layout {
    width: 740px;
  }
  .page__wrapper {
    padding: 0 40px;
  }
}

/*
Primary Colors: #00BCB7 and #69CC40
Secondary Colors: #009991 | #006363 and #599E35 | #599E35
Tertiary Colors: #004442 and #3A3A3A | #D8D8D8
*/
