/*NavBar Style Start*/
.logo {
  cursor: pointer;
}
.navbar__container {
  margin: 0 auto;
  width: 100%;
  height: 95px;
  display: flex;
  position: fixed;
  top: 40px;
  bottom: 95px;
  z-index: 99;
  background-color: #d8d8d8;
  box-sizing: border-box;
}
.navbar__left {
  flex: 1;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-right: 1px #d8d8d8 solid;
}
.navbar__middle {
  flex: 4;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 40px;
}
.navbar__middle ul {
  list-style-type: none;
  display: flex;
  align-items: center;
}
.navbar__middle ul li {
  margin-right: 20px;
  height: 100%;
  font-size: 15px;
  font-weight: 600;
  cursor: pointer;
  padding-bottom: 0;
  transition: 0.8s all ease;
}
.navbar__middle ul li:hover {
  color: #00bcb7;
  border-bottom: 2px #00bcb7 solid;
  padding-bottom: 10px;
}
.active__page {
  color: #009991;
  border-bottom: 2px #00bcb7 solid;
}
.active {
  color: #00bcb7;
}
.navbar__phone {
  display: flex;
  align-items: center;
  margin-right: 35px;
  padding: 5px;
  border-radius: 5px;
  font-size: 19px;
  /* background-color: #D8D8D8; */
}
.navbar__icon {
  margin-top: 5px;
  margin-right: 10px;
  color: #009991;
}
.phone__number {
  font-weight: 600;
}
.phone__number:hover {
  color: #009991;
}
.navbar__right {
  flex: 1;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-left: 1px #d8d8d8 solid;
}
.quote__cta__container {
  width: 100%;
}
.navbar__quote {
  width: 55%;
  height: 35px;
  padding: 0 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #00bcb7;
  border-radius: 5px;
  cursor: pointer;
}
.navbar__quote__mobile {
  width: 30%;
  height: 35px;
  padding: 0 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #00bcb7;
  border-radius: 5px;
  cursor: pointer;
}
.navbar__quote p {
  font-size: 12px;
  color: white;
  position: relative;
}
.quote__icon {
  margin-right: 5px;
  font-size: 12px;
  color: white;
}
/*NavBar Style End*/


/*Navigation Hamburger Start*/
.hamburger {
  display: none;
}
/*Navigation Hamburger End*/




/*IPAD PRO RESPONSIVENESS*/
@media only screen and (max-width: 1110px) {
  .navbar__middle ul li {
    font-size: 17px;
  }
  .navbar__quote {
    width: 68%;
  }
  .hamburger {
    display: block;
    position: absolute;
    right: 0;
    top: 20px;
    width: 100vw;
    text-align: center;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .hamburger ul {
    align-self: flex-end;
    background-color: #004442;
    width: 50%;
    height: 100vh;
    list-style: none;
    margin-top: 15px;
    text-align: left;
    padding-left: 40px;
  }
  .hamburger ul li {
    margin: 40px 0;
    cursor: pointer;
  }
  .hamburger__icon{
    font-size: 60px;
    color: #009991;
    align-self: flex-end;
    cursor: pointer;
    margin-right: 40px;
  }
}

/*Ipad Mini, Ipad, Ipad Air*/
@media only screen and (max-width: 898px) {
  .navbar__container {
    top: 0;
  }
  .navbar__left {
    margin-left: -60px;
  }
  .navbar__middle {
    display: none;
  }
  .navbar__quote {
    margin-left: 135px;
    width: 30%;
    font-size: 30px;
  }
  .navbar__quote__mobile {
    width: 45%;
  }
}

 /*Samsung Galaxy and others*/
 @media only screen and (max-width: 466px) {
  .hamburger {
    width: 80%;
  }
  .hamburger ul {
    width: 100vh;
    height: 1500px;
  }
}
 /*IphoneX*/
 @media only screen and (max-width: 375px) {
  
  .hamburger ul {
    width: 100%;
    height: 1500px;
  }
   .navbar__quote__mobile {
    width: 35%;
  }
}